<%- include('./partials/header') %>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/"><h1>Todo App</h1></a>
  </nav>
  
  <div class="container mt-5">
  
    <form action="/add/todo" method="post" class="d-flex">
      <input type="text" name="todo" class="form-control" placeholder="Enter something todo">
      <input type="submit" value="Add" class="btn btn-md btn-secondary mx-2">
    </form>
  
    <ul class="list-group my-5">
      <% todosList.forEach(todos => { %>
      <li class="list-group-item"><%= todos.todo %>
      <a href="/delete/todo/<%= todos._id%>" class="btn btn-sm btn-secondary" style="float:right">Delete</a></li>
      <% }) %>
    </ul>
  
  </div>
</body>
</html>